[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
autopep8 = "*"
twine = "*"

[packages]
keyboard = "*"
anyconfig = "*"
toml = "*"

[requires]
python_version = "3.6"
